$font:'Fenix', serif;
$success-color: #28a745;
$error-color: #dc3545;
$warning-color: #ffc107;

*{
    padding: 0;
    margin: 0;
}
html{
    overflow: hidden;
}

body{ 
    background: url(../asset/cats-like-the-night-ab-1600x900.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.container-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    // width: clamp(150px, 550px, 600px);
    height: clamp(200px, 550px,600px);
    background: rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 25px 100px;
    margin: 1rem 0;
    &:focus {
        border: 1px solid #313131;
    }
}

.form-name {
    margin:0 auto; 
    font-family: $font;
}

.container{
    position: relative;
    // width: clamp(100px,550px, 550px);
    padding: 20px;
    .label-form{  
        font-family: $font;
        font-size: 24px;
        margin-bottom: 0.5rem;
    }    
    >*{
       display: block; 
    }
}

.inputfield{
 border-radius: 10px;
 box-shadow: 0px 5px 5px rgb(177, 0, 247); 
 width: 550px;
//  width: clamp(100px,550px, 550px);
}

.alert{
    display: none;
}

.emailwar{
    color: red;
    font-family: $font;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: -20px;
}
.subjectwar {
    color: red;
    font-family: $font;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: -20px;
}



#Email{
    height: 30px;
    width: 550px;
    // width: clamp(200px,550px, 550px);
}
#Title{
    min-height: 30px;
    max-height: 30px;
    width: 250px;
    // width: clamp(100px,250px, 250px);
}
#Message{
    border-radius: 5px;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
    min-height: 100px;
    max-height: 100px;
    width: 550px;    
    overflow-y: scroll;
}

.warning {
    border-color: red;
    box-shadow: 0px 5px 5px rgb(247, 0, 0); 
}

.success{
    border-color: var($success-color);
}
.error{
    border-color: var($error-color);
}

#form-button{
    margin: 0 auto;
    background-color: rgb(0, 136, 247);
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
}
.hidden{
    visibility:hidden;
}
.overlay{
    position:absolute;
    background: rgba(255, 255, 255, 0.25);
    top: 0;
    left: 0;
    height:95%;
    width: 95%;
}

.overlay-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    width: 400px;
    height: 200px;
    border: 2px solid black;
}
#ResponseMessage{
    width: 180px;
    margin: 50px auto;
    text-align: center;
    color: black;
    font-family: $font;
    font-size: 30px;
}
#overlay-btn{
    background-color: rgb(0, 136, 247);
    height: 20px;
    width: 100px;
}

@media only screen and (max-width:800px){
    .container-form {
        width: fit-content;
        padding: 10px;
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
    }
    .container{
        width: 600px;
    }
    .inputfield{
        width: 600px;
    }
    #Email{
        width: 600px;
        padding-left:0;
    }
    #Title{
    width: 300px;
    padding-left:0;
    }
    #Message{
    width: 600px;
    padding-left:0;
    }
    .overlay-container{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        margin: 0 auto;
        text-align: center;
        width: 650px;
        height: 200px;
      
    }
}
@media only screen and (max-width:500px){
    .container-form {
        width: fit-content;
        padding: 10px;
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
    }
    .container{
        width: 300px;
    }
    .inputfield{
        width: 300px;
    }
    #Email{
        width: 300px;
        padding-left:0;
    }
    #Title{
    width: 100px;
    padding-left:0;
    }
    #Message{
    width: 300px;
    padding-left:0;
    }
    .overlay-container{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        margin: 0 auto;
        text-align: center;
        width: 350px;
        height: 200px;
      
    }
}


section{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    background: url(./bg0.jpg);
    background-position-x: center;
    background-size: cover;
    animation: animateBg 50s linear infinite;
}
@keyframes animateBg {
    0%,100%
    {
        transform:scale(1);
    }
    50%
    {
        transform:scale(1.2);
    }
}
span{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1)  ;
    animation:  animate 3s linear infinite;
    z-index: -100;
}
span::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}
@keyframes animate {
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 0.5;

    }
    100%
    {
        transform: rotate(315deg) translateX(-1500px);
        opacity: 0;

    }
    
}
span:nth-child(1){
    top: 0;
    right: 0;
    left:initial;
    animation-delay:0 ;
    animation-duration: 1s;
}

span:nth-child(2){
    top: 0;
    right: 80px;
    left:initial;
    animation-delay:0.2s;
    animation-duration: 3s;
}

span:nth-child(3){
    top: 80px;
    right: 0px;
    left:initial;
    animation-delay:0.4s ;
    animation-duration: 2s;
}

span:nth-child(4){
    top: 0;
    right: 180px;
    left:initial;
    animation-delay:0.6s;
    animation-duration: 1.5s;
}

span:nth-child(5){
    top: 0;
    right: 400px;
    left:initial;
    animation-delay:0.8s;
    animation-duration: 2.5s;
}

span:nth-child(6){
    top: 0;
    right: 600px;
    left:initial;
    animation-delay:1s ;
    animation-duration: 3s;
}
span:nth-child(7 ){
    top: 300px;
    right: 0px;
    left:initial;
    animation-delay:1s ;
    animation-duration: 1.75s;
}

span:nth-child(8){
    top: 0px;
    right: 700px;
    left:initial;
    animation-delay:1.4s ;
    animation-duration: 1.25s;
}

span:nth-child(9){
    top: 0px;
    right: 1000px;
    left:initial;
    animation-delay:0.75s ;
    animation-duration: 2.25s;
}

span:nth-child(10){
    top: 0px;
    right: 1000px;
    left:initial;
    animation-delay:2.75s ;
    animation-duration: 2.25s;
}


